src/Dataverse.Emulator.Protocols/Xrm/MetadataTemplates/Basic/xsd18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/xrm/8.2/Contracts" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/xrm/8.2/Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/xrm/2011/Contracts" />
  <xs:complexType name="EmailEngagementAggregate">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalAttachmentOpens" type="xs:int" />
      <xs:element minOccurs="0" name="TotalEmailOpens" type="xs:int" />
      <xs:element minOccurs="0" name="TotalEmailReplies" type="xs:int" />
      <xs:element minOccurs="0" name="TotalEmails" type="xs:int" />
      <xs:element minOccurs="0" name="TotalFollowedEmails" type="xs:int" />
      <xs:element minOccurs="0" name="TotalLinkClicks" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailEngagementAggregate" nillable="true" type="tns:EmailEngagementAggregate" />
  <xs:complexType name="UserSearchFacet">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttributeLogicalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttributeTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacetOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSearchFacet" nillable="true" type="tns:UserSearchFacet" />
  <xs:complexType name="UserSearchFacetCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserSearchFacet" nillable="true" type="tns:UserSearchFacet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSearchFacetCollection" nillable="true" type="tns:UserSearchFacetCollection" />
  <xs:complexType name="UserSearchFacetResponseCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringUserSearchFacetCollectiony3jr7a4n" xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" type="q1:KeyValuePairOfstringUserSearchFacetCollectiony3jr7a4n" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSearchFacetResponseCollection" nillable="true" type="tns:UserSearchFacetResponseCollection" />
  <xs:simpleType name="DependencyDepth">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="OnDemandWithContext" />
      <xs:enumeration value="OnDemandWithoutContext" />
      <xs:enumeration value="OnDemandContextOnly" />
      <xs:enumeration value="Offline" />
      <xs:enumeration value="Mobile" />
      <xs:enumeration value="UserContext" />
      <xs:enumeration value="NoDependency" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DependencyDepth" nillable="true" type="tns:DependencyDepth" />
  <xs:complexType name="MetadataQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ChangedAfter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DependencyDepth" type="tns:DependencyDepth" />
      <xs:element minOccurs="0" name="EntityLogicalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exclude" nillable="true" xmlns:q2="http://schemas.datacontract.org/2004/07/System" type="q2:ArrayOfNullableOfguid" />
      <xs:element minOccurs="0" name="GetDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="MetadataId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="MetadataName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetadataNames" nillable="true" xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="MetadataOptions" nillable="true" type="tns:MetadataOptions" />
      <xs:element minOccurs="0" name="MetadataSubtype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetadataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemMetadataDelta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserMetadataDelta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetadataQuery" nillable="true" type="tns:MetadataQuery" />
  <xs:complexType name="MetadataOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControlOptions" nillable="true" type="tns:MetadataControlOptions" />
      <xs:element minOccurs="0" name="EntityOptions" nillable="true" type="tns:MetadataEntityOptions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetadataOptions" nillable="true" type="tns:MetadataOptions" />
  <xs:complexType name="MetadataControlOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControlMappings" nillable="true" type="tns:ArrayOfMetadataEntityOptionsControlMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetadataControlOptions" nillable="true" type="tns:MetadataControlOptions" />
  <xs:complexType name="ArrayOfMetadataEntityOptionsControlMapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MetadataEntityOptionsControlMapping" nillable="true" type="tns:MetadataEntityOptionsControlMapping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMetadataEntityOptionsControlMapping" nillable="true" type="tns:ArrayOfMetadataEntityOptionsControlMapping" />
  <xs:complexType name="MetadataEntityOptionsControlMapping">
    <xs:sequence>
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To" nillable="true" xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q4:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetadataEntityOptionsControlMapping" nillable="true" type="tns:MetadataEntityOptionsControlMapping" />
  <xs:complexType name="MetadataEntityOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exclude" nillable="true" type="tns:ArrayOfMetadataEntityOptionsExcludeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetadataEntityOptions" nillable="true" type="tns:MetadataEntityOptions" />
  <xs:complexType name="ArrayOfMetadataEntityOptionsExcludeItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MetadataEntityOptionsExcludeItem" nillable="true" type="tns:MetadataEntityOptionsExcludeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMetadataEntityOptionsExcludeItem" nillable="true" type="tns:ArrayOfMetadataEntityOptionsExcludeItem" />
  <xs:complexType name="MetadataEntityOptionsExcludeItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Items" nillable="true" xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q5:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetadataEntityOptionsExcludeItem" nillable="true" type="tns:MetadataEntityOptionsExcludeItem" />
  <xs:complexType name="ImportFileUploadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasError" type="xs:boolean" />
      <xs:element minOccurs="0" name="HeaderColumnIndexesToBeIgnoredCsv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportFileId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportFileUploadResponse" nillable="true" type="tns:ImportFileUploadResponse" />
  <xs:complexType name="LookupEntityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityLogicalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FetchXml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LayoutJson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PagingInfo" nillable="true" xmlns:q6="http://schemas.microsoft.com/xrm/2011/Contracts" type="q6:PagingInfo" />
      <xs:element minOccurs="0" name="RelationshipName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LookupEntityInfo" nillable="true" type="tns:LookupEntityInfo" />
  <xs:complexType name="EntityAndAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityAndAttribute" nillable="true" type="tns:EntityAndAttribute" />
  <xs:complexType name="LookupDataRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="EntityAndAttribute" nillable="true" type="tns:EntityAndAttribute" />
      <xs:element minOccurs="0" name="LookupEntityByName" nillable="true" type="tns:ArrayOfLookupEntityInfo" />
      <xs:element minOccurs="0" name="QueryString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedRecordId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ReturnMetadata" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LookupDataRequest" nillable="true" type="tns:LookupDataRequest" />
  <xs:complexType name="ArrayOfLookupEntityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LookupEntityInfo" nillable="true" type="tns:LookupEntityInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLookupEntityInfo" nillable="true" type="tns:ArrayOfLookupEntityInfo" />
  <xs:complexType name="ViewColumn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttributeLogicalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityLogicalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Format" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewColumn" nillable="true" type="tns:ViewColumn" />
  <xs:complexType name="ArrayOfViewColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViewColumn" nillable="true" type="tns:ViewColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViewColumn" nillable="true" type="tns:ArrayOfViewColumn" />
  <xs:complexType name="LookupView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Columns" nillable="true" type="tns:ArrayOfViewColumn" />
      <xs:element minOccurs="0" name="FetchXml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LayoutJson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ViewName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LookupView" nillable="true" type="tns:LookupView" />
  <xs:complexType name="LookupEntityMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayCollectionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconVectorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsEnabledInUnifiedInterface" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReadOnlyInMobileClient" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogicalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryIdAttribute" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryNameAttribute" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LookupEntityMetadata" nillable="true" type="tns:LookupEntityMetadata" />
  <xs:complexType name="LookupMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Entity" nillable="true" type="tns:LookupEntityMetadata" />
      <xs:element minOccurs="0" name="View" nillable="true" type="tns:LookupView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LookupMetadata" nillable="true" type="tns:LookupMetadata" />
  <xs:complexType name="LookupEntityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" xmlns:q7="http://schemas.microsoft.com/xrm/2011/Contracts" type="q7:EntityCollection" />
      <xs:element minOccurs="0" name="EntityLogicalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Metadata" nillable="true" type="tns:LookupMetadata" />
      <xs:element minOccurs="0" name="PagingCookie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRecordCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LookupEntityResponse" nillable="true" type="tns:LookupEntityResponse" />
  <xs:complexType name="ArrayOfLookupEntityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LookupEntityResponse" nillable="true" type="tns:LookupEntityResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLookupEntityResponse" nillable="true" type="tns:ArrayOfLookupEntityResponse" />
  <xs:complexType name="LookupDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityResponses" nillable="true" type="tns:ArrayOfLookupEntityResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LookupDataResponse" nillable="true" type="tns:LookupDataResponse" />
</xs:schema>