src/Dataverse.Emulator.Protocols/Xrm/MetadataTemplates/Basic/xsd9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/xrm/7.1/Metadata" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/xrm/7.1/Metadata" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/xrm/2013/Metadata" />
  <xs:import namespace="http://schemas.microsoft.com/xrm/2011/Metadata" />
  <xs:import namespace="http://schemas.microsoft.com/xrm/2011/Contracts" />
  <xs:import namespace="http://schemas.microsoft.com/xrm/7.1/Contracts" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DateTimeBehavior">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.microsoft.com/xrm/2013/Metadata" base="q1:ConstantsBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DateTimeBehavior" nillable="true" type="tns:DateTimeBehavior" />
  <xs:complexType name="UniqueIdentifierAttributeMetadata">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.microsoft.com/xrm/2011/Metadata" base="q2:AttributeMetadata">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UniqueIdentifierAttributeMetadata" nillable="true" type="tns:UniqueIdentifierAttributeMetadata" />
  <xs:complexType name="ArrayOfEntityKeyMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMetadata" nillable="true" type="tns:EntityKeyMetadata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityKeyMetadata" nillable="true" type="tns:ArrayOfEntityKeyMetadata" />
  <xs:complexType name="EntityKeyMetadata">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.microsoft.com/xrm/2011/Metadata" base="q3:MetadataBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AsyncJob" nillable="true" xmlns:q4="http://schemas.microsoft.com/xrm/2011/Contracts" type="q4:EntityReference" />
          <xs:element minOccurs="0" name="DisplayName" nillable="true" xmlns:q5="http://schemas.microsoft.com/xrm/2011/Contracts" type="q5:Label" />
          <xs:element minOccurs="0" name="EntityKeyIndexStatus" xmlns:q6="http://schemas.microsoft.com/xrm/7.1/Contracts" type="q6:EntityKeyIndexStatus" />
          <xs:element minOccurs="0" name="EntityLogicalName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IntroducedVersion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsCustomizable" nillable="true" xmlns:q7="http://schemas.microsoft.com/xrm/2011/Contracts" type="q7:BooleanManagedProperty" />
          <xs:element minOccurs="0" name="IsExportKey" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsManaged" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSecondaryKey" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSynchronous" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="KeyAttributes" nillable="true" xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q8:ArrayOfstring" />
          <xs:element minOccurs="0" name="LogicalName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SchemaName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityKeyMetadata" nillable="true" type="tns:EntityKeyMetadata" />
</xs:schema>